h2 {
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
  font-size: 40px;
}

p {
  margin-left: 4px;
  font-size: 25px;
  font-style: oblique;
}
input[type = text] {
  width: 20%;
  padding: 15px 20px;
  margin: 10px;
  border: 2px solid #17A589;
  border-radius: 10px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type = text]:focus {
  width: 40%;}

#Length-one {
  margin-left: 27px;
}
#Length-three{
  margin-left: 20px;
}
#inputForm{
  margin-left: 20%;
}
.button {
  background-color: white;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  display: inline-grid;
  margin-left: 12%;
  border-radius: 13px;
  width: 180px;
}
#check {
  background-color: white;
  border: 3px solid #3498DB;
}

#check:hover {
  background-color: #3498DB;
  color: white;
}
#clear {
  background-color: white;
  border: 3px solid #F44336;
  margin-left: 90px;
}

#clear:hover {
  background-color: #F44336;
  color: white;
}
